<div class="container bg-back">
 <div class="row justify-content-center">
<div class="row">
<div class="col-md-6 mx-auto" style="">
<div class="card shadow-sm mt-5">
    <div class="form-group" style="text-align: center;padding: 50px;font-weight: bold;font-size: 25px;">
	<i class="fa fa-check" aria-hidden="true"></i>

	<h2 class="thank">Thank You!</h2>
    <label>{{formInfo.submit_success_message}}</label>
	<label *ngIf="!formInfo.submit_success_message"> <div class="loader"><div class="loader-wheel"></div></div></label>
    </div>
  </div> </div>
</div>
</div>
</div>